<nb-layout>
  <nb-layout-header fixed>
    <nb-icon icon="globe-outline" status="primary" ></nb-icon>
     &nbsp;URL Encode/Decode</nb-layout-header>
  
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header >Escriba el texto a codificar</nb-card-header>
      <nb-card-body>
        <textarea rows="10" [(ngModel)]="encode" nbInput fullWidth placeholder="CODIFICAR"></textarea>
        <br>
        <br>
        <button (click)="fencode()" nbButton status="primary" size="small">CODIFICAR</button>
      </nb-card-body>
  </nb-card></nb-layout-column>
  
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header>Escriba el texto a decodificar</nb-card-header>
      <nb-card-body>
        <textarea rows="10" [(ngModel)]="decode"  nbInput fullWidth placeholder="DECODIFICAR"></textarea>
        <br>
        <br>
        <button (click)="fdecode()" status="primary" nbButton size="small">DECODIFICAR</button>
      </nb-card-body>
  </nb-card>
</nb-layout-column>
</nb-layout>